@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body 
{
	font: normal 110% Consolas;
	margin: 0;
}

html, body 
{
	height: 100%;
	background: #000;
	color: #FFF;
	transition: background-color 0.5s ease;
}

.container 
{
	/* flexbox */
	max-width: 50%; /* we don't need a lot of space */
	height: 80vh; /* screen height */
	max-height: 80vh;
	min-width: 55%;
	display: flex;
	flex-direction: column; /* this makes it so it doesn't add a new line next to the old line */
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 2.5%;
	overflow: hidden;
}

h1 
{
	font: 400 175% 'Press Start 2P';
	margin: 0;
}

.container h2 
{
	font: 400 125% 'Press Start 2P';
	margin: 0;
	grid-column: span 2;
}

a 
{
	text-decoration: none;
	color: #CCC;
	transition: all 0.2s ease-out;
}

a:hover 
{
	color: #EEE;
}

.linkcontainer 
{
	left: 50%;
	bottom: 7.5%;
	transform: translate(-50%, 0%);
	margin: 0 auto;
	background: #151515;
	border: 1px solid #CCC;
	padding: 7.5px;
	position: absolute;

}

.headercontainer 
{
	top: 5%;
	position: relative
}

.header 
{
	visibility: hidden;
	transition: all 0.2s ease-out;
	/*animation: slidein 0.8s ease-in;*/ /*forwards, bounce 0.8s linear 0.8s;*/
	/* remove ease-in and keep the following for multiple anims: forwards, 
		anotheranim 3s linear 1s */
	text-align: center;
	/*animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);*/
}

img 
{
    width: 43.75vw;
    height: 50vh;
	border: 1px solid #DDD;
	border-radius: 4px;
	padding: 5px;
}

ul 
{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
}

li 
{
	display: inline;
}

/* Light Mode / Dark Mode */
#lightswitch
{
	color: transparent;
	cursor: pointer;
	user-select: none;
	background: #222;
	text-shadow: 0 0 0 #FFF;

}

.lightmode 
{
	background: #FFF;
	color: #000;
	transition: background-color 0.5s ease;
}

.lightmode a
{
	color: #333;
}

.lightmode a:hover 
{
	color: #111;
}

.lightmode #lightswitch
{
	background: #DDD;
	text-shadow: 0 0 0 #333;

}

.lightmode .linkcontainer 
{
	background: #DDD;
	border: 1px solid #333;
}

.lightmode img 
{
	border: 1px solid #222;
	border-radius: 4px;
	padding: 5px;
}


/* Slideshow */
#backbutton, #nextbutton
{
	cursor: pointer;	
	user-select: none;
	color: #CCC;
}

#backbutton
{
	float: left;
}

#nextbutton
{
	float: right;
}

#backbutton:hover, #nextbutton:hover
{
	color: #EEE;
}

.lightmode #backbutton, .lightmode #nextbutton
{
	color: #333;
}

.lightmode #backbutton:hover, .lightmode #nextbutton:hover
{
	color: #111;
}

#buttoncontainer
{
	position: absolute;
	left: 50%;
	bottom: 25%;
	transform: translate(-50%, 0%);
	margin: 0 auto;
	padding: 30px; 
}

.notransition
{
	transition: none !important;
}

/* Misc */
.project 
{
	height: 200px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

/* Mobile */
/* The Old Mobile One Size Fit All Style, The Base. */
/*
@media (any-pointer: coarse) and (hover: none) and (max-width: 450px) 
{
	body 
	{
		font: normal 75% Consolas;
	}

	.container 
	{
		max-width: 65%;
		min-height: 90%;
		bottom: 2.5%;
	}

	h1 
	{
		font-size: 125%;
	}

	.container h2
	{
		font-size: 100%;
	}

	.linkcontainer 
	{
		width: 60%;
		left: 50%;
		bottom: 15%;
		text-align: center;
	}

	#buttoncontainer 
	{
		bottom: 20%;
	}

	.headercontainer 
	{
		top: 15.5%;
	}

	html, body 
	{
		margin: 0;
		height: 100%;
		overflow: hidden
	}
}*/

/* Smaller Mobile Phones / Tablets */
@media (any-pointer: coarse) and (hover: none) and (max-width: 767px) 
{
	body 
	{
		font: normal 85% Consolas;
	}

	.container 
	{
		max-width: 90%;
		height: 85vh;
		max-height: 85vh;
		bottom: 2%;
		top: 5%;
		margin-right: -1%;
		overflow: hidden;
	}

	h1 
	{
		font-size: 150%;
	}

	.container h2 
	{
		font-size: 115%;
	}

	.linkcontainer 
	{
		width: 12.5%;
		height: 20%;
		bottom: 12%;
		text-align: center;
		font: normal 65% Consolas;
	}

	#buttoncontainer 
	{
		bottom: 5%;
	}

	.headercontainer 
	{
		top: 17.5%;
	}
}

/* Larger Mobile Devices */
@media (any-pointer: coarse) and (hover: none) and (min-width: 768px) and (max-width: 1023px) 
{
	body 
	{
		font: normal 95% Consolas; 
	}

	.container 
	{
		max-width: 60%;
		height: 85vh;
		max-height: 85vh;
		top: 5%;
		overflow: hidden;
	}

	.container h2 
	{
		font-size: 110%; 
	}

	.linkcontainer 
	{
		width: 12.5%;
		height: 20%;
		text-align: center;
		font: normal 75% Consolas;
	}

	#buttoncontainer 
	{
		bottom: 12.5%;
	}

	.headercontainer 
	{
		top: 25%;
	}
}

@media (any-pointer: coarse) and (hover: none) 
{
	.linkcontainer 
	{
		position: fixed;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
		padding: 0;
	}
	.linkcontainer a 
	{
        display: block;
        margin-bottom: 10px; 
    }
	ul 
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: visible;
	}
}

/* Anims */
@keyframes slidein 
{
	0% 
	{
		transform: translate(0%, -900%);
	}


	50% 
	{
		transform: translate(0%, -50%);
	}

	100% 
	{
		transform: translate(0%, 0%);
	}
}

@keyframes blink 
{
	0%, 50%, 100% 
	{
		opacity: 1;
	}

	25%, 75% 
	{
		opacity: 0;
	}
}

@keyframes rotating
{
	0% 
	{
		transform: rotate(0deg);
	}

	50% 
	{
		transform: rotate(180deg);
	}

	100% 
	{
		transform: rotate(360deg);
	}
}

@keyframes bounce {
	0%, 100%
	{
		transform: translate(0, 0);
	}
	10%, 90%
	{
		transform: translate(0, -5px);
	}
	20%, 80% 
	{
		transform: translate(0, -15px);
	}
	30%, 70% 
	{
		transform: translate(0, -20px);
	}
	40%, 60% 
	{
		transform: translate(0, -25px);
	}
	50% 
	{
		transform: translate(0, -30px);
	}
}