@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body
{
	font: normal 75% 'Press Start 2P';
	margin: 0;
}

html, body 
{
	height: 100%;
	background-color: #000;
	color: #FFF;
	transition: background-color 0.5s ease;
}

.container 
{
	position: absolute;
	margin: auto;
	top: 15%;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 45%;
	height: 50%;
	border-radius: 3px;
	text-align: center;
}

h1 
{
	font-size: 200%;
	font-weight: 400;
	margin: 0;
}

.container h2 
{
	font-size: 150%;
	font-weight: 400;
	margin: 0;
}

a {
	text-decoration: none;
	color: #CCC;
	transition: all 0.2s ease-out;
}

a:hover 
{
	color: #EEE;
}

.linkcontainer
{
    position: fixed;
    left: 50%;
    bottom: 7.5%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
}

.header {
	transition: all 0.2s ease-out;
	animation: 0.8s ease-out 0s slidein;
	position: fixed;
	left: 50%;
	top: 7.5%;
	transform: translate(-50%, 0%);
}

img 
{
    width: 43.75vw;
    height: 50vh;
}

ul 
{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
}

li 
{
  display: inline;
}

/* Light Mode / Dark Mode */
#lightswitch
{
	color: transparent;
	cursor: pointer;	
	user-select: none;
	background-color: #000;
	text-shadow: 0 0 0 #CCC;
	transition: background-color 0.5s ease;
}

.lightmode 
{
	background-color: #FFF;
	color: #000;
	transition: background-color 0.5s ease;
}

.lightmode a
{
	color: #333;
}

.lightmode a:hover 
{
	color: #111;
}

.lightmode #lightswitch
{
	background-color: #FFF;
	text-shadow: 0 0 0 #333;
	transition: background-color 0.5s ease;
}

/*.darkmode 
{
	background-color: #000;
	color: #FFF;
	transition: background-color 0.5s ease;
}

.darkmode a
{
	color: #CCC;
}

.darkmode #lightswitch
{
	background-color: #000;
	text-shadow: 0 0 0 #FFF;
	transition: background-color 0.5s ease;
}*/

/* Slideshow */
#backbutton, #nextbutton
{
	cursor: pointer;	
	user-select: none;
	color: #CCC;
}

#backbutton
{
	float: left;
}

#nextbutton
{
	float: right;
}

#backbutton:hover, #nextbutton:hover
{
	color: #EEE;
}

.lightmode #backbutton, .lightmode #nextbutton
{
	color: #333;
}

.lightmode #backbutton:hover, .lightmode #nextbutton:hover
{
	color: #111;
}

#buttoncontainer
{
	position: fixed;
	left: 50%;
	bottom: 15%;
	transform: translate(-50%, 0%);
	margin: 0 auto;
	padding: 30px; 
}

.notransition
{
	transition: none !important;
}

/* Mobile */
@media (any-pointer: coarse)
{
	body
	{
		font: normal 65% 'Press Start 2P';
	}

	.container 
	{
		max-width: 45%;
	}
	
	h1
	{
		font-size: 173%;
	}

	.container h2 
	{
		font-size: 130%;
	}
	
	.linkcontainer
	{
		width: 75%;
		left: 55%;
	}
	
	#buttoncontainer
	{
		bottom: 20%;
	}
}

/* Anims */

@keyframes slidein {
	0% 
	{
		transform: translate(-50%, -300%);
	}

	50% 
	{
		transform: translate(-50%, 10%);
	}

	100% 
	{
		transform: translate(-50%, 0);
	}
}

@keyframes blink 
{
	0%, 50%, 100% 
	{
		opacity: 1;
	}

	25%, 75% 
	{
		opacity: 0;
	}
}