@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body
{
	font: normal 75% 'Press Start 2P';
	margin: 0;
}

html, body 
{
	height: 100%;
	background: #000;
	color: #FFF;
	transition: background-color 0.5s ease;
}

.container 
{
	/* flexbox */
	max-width: 55%; /* we don't need a lot of space */
	min-height: 100vh; /* screen height */
	max-height: 100vh;
	display: flex;
	flex-direction: column; /* this makes it so it doesn't add a new line next to the old line */
	justify-content: center;
	align-items: center;
	position: relative;
}

h1 
{
	font-size: 200%;
	font-weight: 400;
	margin: 0;
}

.container h2 
{
	font-size: 150%;
	font-weight: 400;
	margin: 0;
}

a 
{
	text-decoration: none;
	color: #CCC;
	transition: all 0.2s ease-out;
}

a:hover 
{
	color: #EEE;
}

.linkcontainer 
{
	left: 50%;
	bottom: 7.5%;
	transform: translate(-50%, 0%);
	margin: 0 auto;
	background: #222;
	border: 1px solid #CCC;
	padding: 7.5px;
	position: absolute;
}

.header 
{
	transition: all 0.2s ease-out;
	animation: slidein 0.8s ease-in; /* remove ease-in and keep the following for multiple anims: forwards, 
		anotheranim 3s linear 1s infinite forwards;*/
    top: 15%;
	align-self: center;
	position: absolute;
}

img 
{
    width: 43.75vw;
    height: 50vh;
	border: 1px solid #DDD;
	border-radius: 4px;
	padding: 5px;
}

ul 
{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
}

li 
{
	display: inline;
}

/* Light Mode / Dark Mode */
#lightswitch
{
	color: transparent;
	cursor: pointer;	
	user-select: none;
	background: #222;
	text-shadow: 0 0 0 #000;
	transition: background-color 0.5s ease;
}

.lightmode 
{
	background: #FFF;
	color: #000;
	transition: background-color 0.5s ease;
}

.lightmode a
{
	color: #333;
}

.lightmode a:hover 
{
	color: #111;
}

.lightmode #lightswitch
{
	background: #DDD;
	text-shadow: 0 0 0 #333;
	transition: background-color 0.5s ease;
}

.lightmode .linkcontainer 
{
	background: #DDD;
	border: 1px solid #333;
}

.lightmode img 
{
	border: 1px solid #222;
	border-radius: 4px;
	padding: 5px;
}

/* Slideshow */
#backbutton, #nextbutton
{
	cursor: pointer;	
	user-select: none;
	color: #CCC;
}

#backbutton
{
	float: left;
}

#nextbutton
{
	float: right;
}

#backbutton:hover, #nextbutton:hover
{
	color: #EEE;
}

.lightmode #backbutton, .lightmode #nextbutton
{
	color: #333;
}

.lightmode #backbutton:hover, .lightmode #nextbutton:hover
{
	color: #111;
}

#buttoncontainer
{
	position: absolute;
	left: 50%;
	bottom: 15%;
	transform: translate(-50%, 0%);
	margin: 0 auto;
	padding: 30px; 
}

.notransition
{
	transition: none !important;
}

/* Mobile */
@media (any-pointer: coarse) and (hover: none) and (max-width: 450px) 
{
	body 
	{
		font: normal 45% 'Press Start 2P';
	}

	.container 
	{
		max-width: 55%;
		max-height: 50%;
	}

	h1 
	{
		font-size: 150%;
	}

	.container h2
	{
		font-size: 125%;
	}

	.linkcontainer 
	{
		width: 60%;
		left: 50%;
		bottom: 15%;
		text-align: center;
	}

	#buttoncontainer 
	{
		bottom: 17.5%;
	}

	.header
	{
		top: 22.5%;
	}

	html, body 
	{
		margin: 0;
		height: 100%;
		overflow: hidden
	}
}

/* Anims */
@keyframes slidein 
{
	0% 
	{
		/* the -50%'s are to counteract the fact it overwrites the -50% which translates it to the right of center as it does the slide in */
		transform: translate(0%, -300%);
	}

	50% 
	{
		transform: translate(0%, -50%);
	}

	100% 
	{
		transform: translate(0%, 0%);
	}
}

@keyframes blink 
{
	0%, 50%, 100% 
	{
		opacity: 1;
	}

	25%, 75% 
	{
		opacity: 0;
	}
}

@keyframes rotating 
{
	0% 
	{
		transform: rotate(0deg);
	}

	100% 
	{
		transform: rotate(360deg);
	}
}